
<mat-toolbar color="primary">
  <div>Czasówka </div>
  <nav>
    <ul>

      <li routerLink="/add">Dodaj</li>
      <li routerLink="/pozycje">pozycje</li>
      <!-- <li routerLink="/detail">detail</li> -->
      <li routerLink="/table">table</li>
      <li routerLink="/stepper">stepper</li>
      <li routerLink="/formly">formly</li>
    </ul>
  </nav>
  <!-- <nav>
    <a routerLink="/add">Dodaj</a>
    <a routerLink="/table">table</a>
    <a routerLink="/stepper">stepper</a>

  </nav> -->
</mat-toolbar>
