<mat-card>
  <mat-form-field>
    <input matInput placeholder="Wll" [(ngModel)]="czasowka.wll">

  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="L1" [(ngModel)]="czasowka.l1">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Szt" [(ngModel)]="czasowka.szt">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Minut" [(ngModel)]="czasowka.min">
  </mat-form-field>

  <button mat-raised-button (click)="addCzas()" color="primary">Dodaj</button>
</mat-card>
