@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  height: 100%;
  margin: 0;
  background: radial-gradient(hsl(200, 40%, 20%), hsl(200, 30%, 6%));
}
mat-toolbar-row {
  justify-content: space-between;
}
